<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>825833569082-khj2i2dh8k6krbqikj9ac5hhc1fj0luo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.825833569082-khj2i2dh8k6krbqikj9ac5hhc1fj0luo</string>
	<key>API_KEY</key>
	<string>AIzaSyApu6D8t1_4kp-s2NiyxYluR7XOAEGNk0o</string>
	<key>GCM_SENDER_ID</key>
	<string>825833569082</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jerrychen.breadify</string>
	<key>PROJECT_ID</key>
	<string>current-da355</string>
	<key>STORAGE_BUCKET</key>
	<string>current-da355.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:825833569082:ios:c57b47a09058af01906e03</string>
</dict>
</plist>
